<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/personnel/profile">Back to Profile</a>
    <h1>User DataBase</h1>
    <table border=2 cellspacing="5" cellpadding="5">
        <thead>
            <th>Id No.</th>
            <th>Password</th>
            <th>Name</th>
            <th>Date Of Birth</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Gender</th>
            <th>Type</th>
            <th>Update Details</th>
            <th>Delete User</th>
        </thead>
        {{#each entries as |item|}}
            <tr>
                <td>{{item.idno}}</td>
                <td>{{item.password}}</td>
                <td>{{item.name}}</td>
                <td>{{item.dob}}</td>
                <td>{{item.email}}</td>
                <td>{{item.phone}}</td>
                <td>{{item.gender}}</td>
                <td>{{item.type}}</td>
                <td>
                    <form action="/personnel/updaterec" method="POST">
                        <input type="text" name="idno" value="{{item.idno}}" hidden>
                        <input type="submit" value="Update Details">
                    </form>
                </td>
                <td>
                    <form action="/personnel/deleterecord" method="POST">
                        <input type="text" name="idno" value="{{item.idno}}" hidden>
                        <input type="submit" value="Delete User">
                    </form>
                </td>
            </tr>
        {{/each}}
    </table>
</body>
</html>