<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update User</title>
</head>
<body>
    <a href="/personnel/profile">Back to Profile</a>
    <h1>Update User Details</h1>
    <form action="/personnel/updaterecord" method="POST">
        ID No. : {{entry.idno}}<input type="text" name="idno" value="{{entry.idno}}" hidden><br><br>
        Name : <input type="text" name="name" value="{{entry.name}}"><br><br>
        Password : <input type="text" name="password" value="{{entry.password}}"><br><br>
        Date Of Birth : <input type="date" name="dob" value="{{entry.dob}}"><br><br>
        Email : <input type="text" name="email" value="{{entry.email}}"><br><br>
        Phone No. : <input type="text" name="phone" value="{{entry.phone}}"><br><br>
        Gender : <input type="radio" name="gender" id="male" value="Male"><label for="male">Male</label>
                 <input type="radio" name="gender" id="female" value="Female"><label for="female">Female</label><br><br>
        Type : 
        <select name="type">
            <option value="{{entry.type}}" hidden selected>{{entry.type}}</option>
            <option value="personnel">Personnel</option>
            <option value="student">Student</option>
            <option value="staff">Staff</option>
        </select><br><br>
        <input type="submit" value="Update Details"> 
    </form>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        if('{{entry.gender}}'=='Female'){
            $('#female').attr('checked','checked')
        }
        else if('{{entry.gender}}'=='Male'){
            $('#male').attr('checked','checked')
        }
    </script>
</body>
</html>