<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Complaints</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../personnel/viewcomplaints/style.css">
    <style>
        nav div ul li a{
            color: white
        }
    </style>
</head>
<body>

    <nav class="navbar navbar-expand-sm bg-dark fixed-top">
        <a href="" class="navbar-brand" style="color:white">
            <img src='../../images/icons8-air-force-commander-male-48.png' height="25">
            Campus Security Management
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div id="navbarCollapse" class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a href="/personnel/profile" class="nav-link active">
                    Profile
                </a>
            </li>
            <li class="nav-item">
                <a href="/personnel/adduser" class="nav-link active">
                    Add User
                </a>
            </li>
            <li class="nav-item">
                <a href="/personnel/viewdb" class="nav-link active">
                    User Database
                </a>
            </li>
            <li class="nav-item">
                <a href="/all/filecomplaint" class="nav-link active">
                    File Complaint
                </a>
            </li>
            <li class="nav-item">
                <a href="/personnel/viewhostellog" class="nav-link active">
                    Hostel Entry Log
                </a>
            </li>
            <li class="nav-item">
                <a href="/personnel/viewcctv" class="nav-link active">
                    CCTV Feed
                </a>
            </li>
            <li class="nav-item">
                <span id="person" class="nav-link active" style="color:rgb(252, 249, 88)">
                    Welcome, 
                </span>
            </li>
            <li class="nav-item">
                <a href="/all/logout" class="nav-link active">
                    Log Out
                </a>
            </li>
        </ul>
        </div>
    </nav>
    <br><br><br>
    <h1>Pending Complaints</h1><br>
    <table>
        <tr id="firstrow">
            <th>Complaint No.</th>
            <th>Complaintant's Id</th>
            <th>Complaintant's Name</th>
            <th>Location</th>
            <th>Description</th>
            <th>Time of Reporting</th>
            <th>Mark As Resolved?</th>
        </tr>
        {{#each pending as |item|}}
            <tr>
                <td>{{item.id}}</td>
                <td>{{item.cidno}}</td>
                <td>{{item.cname}}</td>
                <td>{{item.location}}</td>
                <td>{{item.description}}</td>
                <td>{{item.time}}</td>
                <td>
                    <form action="/personnel/resolvecomplaint" method="POST">
                        <input type="text" name="id" value="{{item.id}}" hidden>
                        <input type="submit" value="Mark As Resolved?">
                    </form>
                </td>
            </tr>
        {{/each}}
    </table>


    <h1>Resolved Complaints</h1><br>
    <table>
        <tr id="firstrow">
            <th>Complaint No.</th>
            <th>Complaintant's Id</th>
            <th>Complaintant's Name</th>
            <th>Location</th>
            <th>Description</th>
            <th>Time of Reporting</th>
            <th>Resolution Time</th>
        </tr>
        {{#each resolved as |item|}}
            <tr>
                <td>{{item.id}}</td>
                <td>{{item.cidno}}</td>
                <td>{{item.cname}}</td>
                <td>{{item.location}}</td>
                <td>{{item.description}}</td>
                <td>{{item.time}}</td>
                <td>{{item.resolutiontime}}</td>
            </tr>
        {{/each}}
    </table>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        $(()=>{
            $.get('/user',(res)=>{
                console.log(res)
                $('#person').append(res)
            })
        })
    </script>
</body>
</html>