<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hostel Entry Log</title>
</head>
<body>
    <a href="/personnel/profile">Back To Profile</a>
    <h1>Hostel Entry Log</h1>
    <table border=2 cellpadding="5" cellspacing="5">
        <thead>
            <th>Entry No.</th>
            <th>Student's Id No.</th>
            <th>Student's Name</th>
            <th>Captured Pic</th>
            <th>Entry Time</th>
            <th>Predicted Gender</th>
        </thead>
        {{#each hostellog as |item|}}
            <tr>
                <td>{{item.id}}</td>
                <td>{{item.idno}}</td>
                <td>{{item.name}}</td>
                <td><img src='../../personnel/hostellog/images/{{item.id}}.jpg'></td>
                <td>{{item.entrytime}}</td>
                <td>{{item.predictedgender}}</td>
            </tr>
        {{/each}}
    </table>
</body>
</html>